footer{
    background-color:  rgb(105, 152, 115);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
body{
    background-color: rgb(215, 215, 215);
}
#up_div{
    display: flex;
    flex-direction: row;
    background-color: rgb(72, 125, 68);
    text-align: center;
    justify-content: center;
    gap: 10px;
}
#down_div{
    display: flex;
    background-color: rgb(105, 152, 115);
    text-align: center;
    justify-content: center;
}
#main_div{
    display: flex;
    flex-direction: column;

}


#div_welcome{
    background-color: rgb(253, 254, 254);
    border-radius: 10px;
    margin: 10px;
    padding: 3px;
}

#div_upcoming{
    background-color: white;
    border-radius: 10px;
    margin: 10px;

}
.tasksDiv{
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    margin: 10px;
    width: 50%;
    margin: 10px 25%;
    padding: 3px;


}
.tasksDiv:hover{
    background-color: rgb(197, 192, 192);
}

.text_color{
    background-color: rgb(245, 148, 148);
    width: 50px;
}